In [2]:



# =============================================================================
# 
# Created on Fri Aug 23 00:10:17 2018
# @author: Abu Chowdhury
# """
# JSON Based Data Exercis
#
# JSON examples and exercise
# 
# get familiar with packages for dealing with JSON
# study examples with JSON strings and files 
# work on exercise to be completed and submitted 
# 
# reference: http://pandas.pydata.org/pandas-docs/stable/io.html#io-json-reader
# data source: http://jsonstudio.com/resources/
# =============================================================================

In [4]:
import pandas as pd

import json
from pandas.io.json import json_normalize
# =============================================================================
# JSON example, with file
# demonstrates reading in a json file as a string and as a table
# uses small sample file containing data about projects funded by the World Bank 
# data source: http://jsonstudio.com/resources/
# =============================================================================

# load json as string
json.load((open('C:/scripts/Jason1/data_wrangling_json/data/world_bank_projects_less.json')))

# load as Pandas dataframe
sample_json_df = pd.read_json('C:/scripts/Jason1/data_wrangling_json/data/world_bank_projects_less.json')
sample_json_df

,_id,approvalfy,board_approval_month,boardapprovaldate,borrower,closingdate,country_namecode,countrycode,countryname,countryshortname,...,sectorcode,source,status,supplementprojectflg,theme1,theme_namecode,themecode,totalamt,totalcommamt,url
0,{'$oid': '52b213b38594d8a2be17c780'},1999,November,2013-11-12T00:00:00Z,FEDERAL DEMOCRATIC REPUBLIC OF ETHIOPIA,2018-07-07T00:00:00Z,Federal Democratic Republic of Ethiopia!$!ET,ET,Federal Democratic Republic of Ethiopia,Ethiopia,...,"ET,BS,ES,EP",IBRD,Active,N,"{'Name': 'Education for all', 'Percent': 100}","[{'name': 'Education for all', 'code': '65'}]",65,130000000,130000000,http://www.worldbank.org/projects/P129828/ethi...
1,{'$oid': '52b213b38594d8a2be17c781'},2015,November,2013-11-04T00:00:00Z,GOVERNMENT OF TUNISIA,NaN,Republic of Tunisia!$!TN,TN,Republic of Tunisia,Tunisia,...,"BZ,BS",IBRD,Active,N,"{'Name': 'Other economic management', 'Percent...","[{'name': 'Other economic management', 'code':...","54,24",0,4700000,http://www.worldbank.org/projects/P144674?lang=en

In [5]:
# =============================================================================
# JSON exercise
# Using data in file 'data/world_bank_projects.json' and the techniques demonstrated above,
# Find the 10 countries with most projects
# Find the top 10 major project themes (using column 'mjtheme_namecode')
# In 2. above you will notice that some entries have only the code and the name is missing. Create a dataframe with the missing names filled in.
# 
# 
# =============================================================================


# load json as string
json.load((open('C:/scripts/Jason1/data_wrangling_json/data/world_bank_projects.json')))

# load as Pandas dataframe
sample_json_df = pd.read_json('C:/scripts/Jason1/data_wrangling_json/data/world_bank_projects.json' , encoding='utf-8')
sample_json_df

sample_json_df.head(3)

# Display column names
sample_json_df.columns


# Create a new dataframe as a slice of the original dataframe and display it
per_country_projects = sample_json_df[['countryname', 'project_name']]
per_country_projects.head(10)

per_country_projects_grant = sample_json_df[['countryname', 'project_name', 'grantamt', 'totalamt', 'boardapprovaldate']]
per_country_projects_grant.head(10)

,countryname,project_name,grantamt,totalamt,boardapprovaldate
0,Federal Democratic Republic of Ethiopia,Ethiopia General Education Quality Improvement...,0,130000000,2013-11-12T00:00:00Z
1,Republic of Tunisia,TN: DTF Social Protection Reforms Support,4700000,0,2013-11-04T00:00:00Z
2,Tuvalu,Tuvalu Aviation Investment Project - Additiona...,0,6060000,2013-11-01T00:00:00Z
3,Republic of Yemen,Gov't and Civil Society Organization Partnership,1500000,0,2013-10-31T00:00:00Z
4,Kingdom of Lesotho,Second Private Sector Competitiveness and Econ...,0,13100000,2013-10-31T00:00:00Z
5,Republic of Kenya,Additional Financing for Cash Transfers for Or...,0,10000000,2013-10-31T00:00:00Z
6,Republic of India,National Highways Interconnectivity Improvemen...,0,500000000,2013-10-29T00:00:00Z
7,People's Republic of China,China Renewable Energy Scale-Up Program Phase II,27280000,0,2013-10-29T00:00:00Z
8,Republic of India,Rajasthan Road Sector Modernization Project,0,160000000,2013-10-29T00:00:00Z
9,Kingdom of Morocco,MA Accountability and Transparency DPL,0,200000000,2013-10-29T00:00:00Z

In [8]:
import pandas as pd

import json
from pandas.io.json import json_normalize

# =============================================================================
# JSON exercise
# Using data in file 'data/world_bank_projects.json' and the techniques demonstrated above,
# 1. Find the 10 countries with most projects
# 2. Find the top 10 major project themes (using column 'mjtheme_namecode')
# 3. In 2. above you will notice that some entries have only the code and the name is missing. Create a dataframe with the missing names filled in.
# 
# =============================================================================


# =============================================================================
# Q1. Find the 10 countries with most projects.
# =============================================================================

# We have to find unique project_name by country
# Display top 10 countries with most projects

# Print contry name  
c=sample_json_df['countryname']
print(c)

per_projects_unique = per_country_projects['project_name'].value_counts()
print('Display unique project')
per_projects_unique.head(10)

# Answers to Questions 1

print('Top 10 countries with number of unique projects:')
per_country_projects_unique = per_country_projects['countryname'].value_counts()
per_country_projects_unique.head(10)

0       Federal Democratic Republic of Ethiopia
1                           Republic of Tunisia
2                                        Tuvalu
3                             Republic of Yemen
4                            Kingdom of Lesotho
5                             Republic of Kenya
6                             Republic of India
7                    People's Republic of China
8                             Republic of India
9                            Kingdom of Morocco
10                      Republic of South Sudan
11                            Republic of India
12                            Republic of Ghana
13           Democratic Republic of Timor-Leste
14                  Hashemite Kingdom of Jordan
15                                        Samoa
16                                        Samoa
17                       Republic of Madagascar
18                          Kingdom of Cambodia
19                           Kingdom of Morocco
20                              Kyrgyz Republic
21                                        Nepal
22                  Hashemite Kingdom of Jordan
23                       Republic of Tajikistan
24                       Republic of Azerbaijan
25                        East Asia and Pacific
26             Lao People's Democratic Republic
27                              Pacific Islands
28                              Solomon Islands
29                       Republic of Mozambique
                         ...
470                         Republic of Liberia
471             People's Republic of Bangladesh
472                         Republic of Armenia
473                         Republic of Albania
474                Islamic Republic of Pakistan
475                       Republic of Indonesia
476               Socialist Republic of Vietnam
477                      Republic of Uzbekistan
478                Islamic Republic of Pakistan
479                       Republic of Guatemala
480                          Republic of Zambia
481                           Republic of India
482                           Republic of India
483                           Republic of India
484                 Republic of the Philippines
485                                    Mongolia
486                Middle East and North Africa
487                       United Mexican States
488               Federative Republic of Brazil
489    The Independent State of Papua New Guine
490                                       Nepal
491                          West Bank and Gaza
492                Islamic Republic of Pakistan
493             People's Republic of Bangladesh
494                                       Nepal
495                                     Jamaica
496            Lao People's Democratic Republic
497                          Republic of Guinea
498                       Republic of Indonesia
499                           Republic of Kenya
Name: countryname, Length: 500, dtype: object
Display unique project
Top 10 countries with number of unique projects:

People's Republic of China         19
Republic of Indonesia              19
Socialist Republic of Vietnam      17
Republic of India                  16
Republic of Yemen                  13
Nepal                              12
Kingdom of Morocco                 12
People's Republic of Bangladesh    12
Republic of Mozambique             11
Africa                             11
Name: countryname, dtype: int64

In [10]:
# =============================================================================
# Q2. Find the top 10 major project themes (using column 'mjtheme_namecode')
# 
# =============================================================================

mjtheme=sample_json_df['mjtheme_namecode']
print(mjtheme.head(11))
# First we need to create a themes dataframe using column 'mjtheme_namecode' and display it
# mjtheme_namecode consist of code and name {'code': '8', 'name': 'Human development'}

themes = pd.DataFrame(columns=['code', 'name'])
for theme in sample_json_df.mjtheme_namecode:
    themes = themes.append(json_normalize(theme))
themes.reset_index(drop=True, inplace=True)

themes.head(25)

# display name and code seperately 
themes['name']
themes['code']

# Display theme name

themes_name = themes.name
print(themes_name.head(30))

# Count project unique theme_names

themes_name_values = themes.name.values
print(themes_name_values)

# Answer to Question 2

# Count project unique theme_names

theme_name_value_counts = themes.name.value_counts()
print(theme_name_value_counts)

# display the top 10 number of project themes

print('Top 10 major project themes for World_bank:')
theme_name_value_counts.head(10)

0     [{'code': '8', 'name': 'Human development'}, {...
1     [{'code': '1', 'name': 'Economic management'},...
2     [{'code': '5', 'name': 'Trade and integration'...
3     [{'code': '7', 'name': 'Social dev/gender/incl...
4     [{'code': '5', 'name': 'Trade and integration'...
5     [{'code': '6', 'name': 'Social protection and ...
6     [{'code': '2', 'name': 'Public sector governan...
7     [{'code': '11', 'name': 'Environment and natur...
8     [{'code': '10', 'name': 'Rural development'}, ...
9     [{'code': '2', 'name': 'Public sector governan...
10    [{'code': '10', 'name': 'Rural development'}, ...
Name: mjtheme_namecode, dtype: object
0                                Human development
1
2                              Economic management
3            Social protection and risk management
4                            Trade and integration
5                         Public sector governance
6     Environment and natural resources management
7            Social protection and risk management
8                      Social dev/gender/inclusion
9                      Social dev/gender/inclusion
10                           Trade and integration
11        Financial and private sector development
12           Social protection and risk management
13
14                        Public sector governance
15        Financial and private sector development
16    Environment and natural resources management
17
18                               Rural development
19
20                        Public sector governance
21                        Public sector governance
22                        Public sector governance
23                               Rural development
24
25                               Rural development
26           Social protection and risk management
27           Social protection and risk management
28    Environment and natural resources management
29
Name: name, dtype: object
['Human development' '' 'Economic management' ... 'Human development'
 'Trade and integration' 'Financial and private sector development']
Environment and natural resources management    223
Rural development                               202
Human development                               197
Public sector governance                        184
Social protection and risk management           158
Financial and private sector development        130
                                                122
Social dev/gender/inclusion                     119
Trade and integration                            72
Urban development                                47
Economic management                              33
Rule of law                                      12
Name: name, dtype: int64
Top 10 major project themes for World_bank:

Environment and natural resources management    223
Rural development                               202
Human development                               197
Public sector governance                        184
Social protection and risk management           158
Financial and private sector development        130
                                                122
Social dev/gender/inclusion                     119
Trade and integration                            72
Urban development                                47
Name: name, dtype: int64

In [14]:
# =============================================================================
# Q3. In 2. above you will notice that some entries have only the code and the name is missing. Create a dataframe with the missing names filled in.
# =============================================================================

# Display theme name

themes_name = themes.name
print(themes_name.head(20))

# Display theme name with counts to see missing theme name value_counts

themes_name_value_counts = themes.name.value_counts()
print(themes_name_value_counts)

# Current count of missing entries
print('Count of missing name entries:', len(themes[themes['name'] == '']))


# Create a theme name dictionary to map theme codes to theme names
# Display dictionary
theme_name_dict = {}

for theme in themes.itertuples():
    if theme[2] != '':  # theme name value not null
        theme_name_dict[theme[1]] = theme[2]
        
theme_name_dict

# Test both of these below will have same value
theme_name_dict[theme[1]]
theme[2]




# We need to fill in missing theme names using the theme name dictionary (theme_name_dict)
for theme in themes.itertuples():
    if theme[2] == '': # theme name value is null
        # missing theme name value will be updated based on matching code (theme[0])
        themes.set_value(theme[0], 'name', theme_name_dict[theme[1]])
        
# After fill in missing theme names, make sure there are no more missing entries
print('Count of missing name entries:', len(themes[themes['name'] == '']))

# Display theme name

themes_name = themes.name
print(themes_name.head(10))

0                                Human development
1
2                              Economic management
3            Social protection and risk management
4                            Trade and integration
5                         Public sector governance
6     Environment and natural resources management
7            Social protection and risk management
8                      Social dev/gender/inclusion
9                      Social dev/gender/inclusion
10                           Trade and integration
11        Financial and private sector development
12           Social protection and risk management
13
14                        Public sector governance
15        Financial and private sector development
16    Environment and natural resources management
17
18                               Rural development
19
Name: name, dtype: object
Environment and natural resources management    223
Rural development                               202
Human development                               197
Public sector governance                        184
Social protection and risk management           158
Financial and private sector development        130
                                                122
Social dev/gender/inclusion                     119
Trade and integration                            72
Urban development                                47
Economic management                              33
Rule of law                                      12
Name: name, dtype: int64
Count of missing name entries: 122
Count of missing name entries: 0
0                               Human development
1    Environment and natural resources management
2                             Economic management
3           Social protection and risk management
4                           Trade and integration
5                        Public sector governance
6    Environment and natural resources management
7           Social protection and risk management
8                     Social dev/gender/inclusion
9                     Social dev/gender/inclusion
Name: name, dtype: object

C:\Users\achow\Anaconda3\lib\site-packages\ipykernel_launcher.py:40: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead